* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* dimensioni schermata */
#viewport {
    width: 100vw;
    height: 100vh;
    background-color: #d6dbd7;
}

/* strisci verde di sfondo */
#stripe {
    width: 100vw;
    height: 136px;
    background-color: #009688;
    padding-top: 20px;
}

/* tutto il contenuto principale */
#main-content {
    max-width: 1400px;
    height: calc(100vh - 40px);
    margin: auto;
    box-shadow: 2px 0px 9px -3px #000000;
}

/* sezione di sininstra con lista chat aperte  */
#contact-list {
    float: left;
    width: 30%;
    height: 100%;
}

/* sezione di destra con conversazione corrente */
#chat {
    width: calc(100% - 30%);
    height: 100%;
    background: url(img/wallpaper.png);
    background-size: cover;
    border-left: 1px solid #e7e7e7;
    float: left;
}

.header-aside-top {
    width: 100%;
    height: 60px;
    background: #ededed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-aside-left img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 15px;
    object-fit: cover;
}

/* icona dello status */
.status {
    border-radius: 50%;
    border: 2px solid #919191;
    width: 24px;
    height: 24px;
    position: relative;
    display: inline-block;
    margin-right: 15px;
    cursor: pointer;
}

/* div per coprire parte del cerchio dell'icona dello status */
.cover1 {
    width: 10px;
    height: 5px;
    position: absolute;
    background-color: #ededed;
    top: 50%;
    left: 50%;
    transform: translate(-150%, -50%);
}

.cover2 {
    width: 5px;
    height: 10px;
    position: absolute;
    background-color: #ededed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.cover3 {
    width: 12px;
    height: 12px;
    position: absolute;
    background-color: #ededed;
    top: 50%;
    left: 50%;
    transform: translate(0%, -100%);

}

.circle {
    border-radius: 50%;
    background: #009588;
    width: 7px;
    height: 7px;
    left: 5px;
    position: absolute;
}

.header-aside-right {
    display: flex;
    align-items: center;
}

.header-aside-right i, .header-aside-right .material-icons {
    margin: 20px;
    cursor: pointer;
    color: #919191;
}

.header-aside-right i:last-of-type {
    margin-right: 30px;
}

.header-aside-bottom {
    width: 100%;
    height: 56px;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    width: 94%;
    height: 36px;
    border-radius: 18px;
    background-color: #fff;
    color: #4a4a4a;
    display: flex;

}

.search i, .search .material-icons{
    margin-left: 20px;
    cursor: pointer;
    color: lightgrey;
    line-height: 36px;
}

.search input{
    width: 75%;
    height: 36px;
    border: none;
    margin-left: 30px;
    outline: none;
}

.header-chat {
    width: 100%;
    min-height: 60px;
    background-color: #ededed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}

.header-chat-left img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.header-chat-left p.ultimo-accesso {
    font-size: 12px;
    color: #4a4a4a;
}

.header-chat-left {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header-chat-right {
    display: flex;
    align-items: center;
}

.header-chat-right i {
    margin-right: 30px;
    color: #919191;
    font-size: 20px;
    cursor: pointer;
}

.header-chat-right .material-icons {
    margin-right: 30px;
    color: #919191;
    font-size: 26px;
    cursor: pointer;
}

.write-message {
    width: 100%;
    min-height: 65px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
}

.write-message i {
    font-size: 25px;
    color: #9a9a9a;
    cursor: pointer;
}

.write-message .material-icons {
    font-size: 30px;
    color: #9a9a9a;
    cursor: pointer;
}

.write-message input {
    width: 88%;
    height: 45px;
    border-radius: 50px;
    border: none;
    padding: 20px;
    font-size: 16px;
    color: #4a4a4a;
    outline: none;
}

/* overflow per evitare che il contenuto esca dal contenitore principale */
.bottom-aside {
    overflow-y: auto;
    height: calc(100% - 116px);
}

/* stile di ogni riga chat aperta */
.contact-chat {
    width: 100%;
    height: 71px;
    background-color: #fff;
    border-bottom: 1px solid #ededed;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
}

.contact-chat-left {
    display: flex;
    align-items: center;
}

.contact-chat-left p.last-message {
    font-size: 13px;
    padding-top: 4px;
    color: #919191;
}

.contact-chat-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-chat-right p.time {
    color: #919191;
    font-size: 13px;
}

.contact-chat-right p.arrow {
    text-align: right;
    padding-top: 5px;
    color: #919191;
}

/* nascondo la freccetta senza che il suo spazio venga tolto */
.contact-chat-right p.arrow i.fas.fa-chevron-down{
    visibility: hidden;
}

/* la freccetta dovrà riapparire se il mouse si trova sulla riga del contatto */
.contact-chat:hover .contact-chat-right p.arrow i.fas.fa-chevron-down{
    visibility: visible;
}

.contact-chat:hover {
    background-color: #ebebeb;
}

.contact-chat img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 5px;
    margin-right: 10px;
    object-fit: cover;
}

/* overflow sulla sezione della conversazione per fare in modo che non esca dal suo contenitore principale. Appariranno quindi le barre di scorrimente sui lati  */
.conversation {
    overflow-y: auto;
    height: calc(100% - 125px);
    padding: 15px 80px;
    font-size: 14px;
}

.conversation .your-message {
    float: left;
    clear: both;
    max-width: 60%;
    background-color: #fff;
    padding: 8px;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.conversation .my-message {
    float: right;
    clear: both;
    max-width: 60%;
    margin: 10px;
    padding: 8px;
    border-radius: 10px;
    background-color: #dcf8c6;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.message {
    padding-right: 20px;
}

.time-arrow {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-width: 30px;
}

.time-arrow p.arrow{
    text-align: right;
    display: none;
}

/* in hover la freccetta compare mentre l'orario sparisce */
.your-message:hover .time-arrow p.arrow, .my-message:hover .time-arrow p.arrow {
    display: block;
}

.your-message:hover .time-arrow p.time , .my-message:hover .time-arrow p.time {
    display: none;
}

/* triangolino in parte alle nuvolette della chat */
.conversation .your-message::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    position: absolute;
    left: -10px;
    top: 0;
}

.conversation .my-message::after {
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #dcf8c6;
    position: absolute;
    right: -10px;
    top: 0;
}
